.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 4rem;
  box-shadow: -.5rem -.5rem 1.6rem 0 rgba(48, 50, 50, 0.41);
  color: #4B4453;
}

.container h3 {
  font-size: 2.3rem;
  text-align: center;
  padding-bottom: 3rem;
}

.container button {
  margin: 4rem auto 2rem auto;
  text-align: center;
  width: 95%;
  padding: 1rem;
  background-color: #D65DB1;
  color: #fff;
  font-size: 2rem;
  border: 0;
  transition: transform .3s;
}

.container button:active {
  transform: scale(.98);
}